server:
  port: 9001
    
spring:
  application:
    name: im-service
  flyway:
    enabled: true
  datasource:
    url: jdbc:postgresql://192.168.61.3:5432/im_service
    username: postgres
    password: 1234
#  jpa:
#    properties:
#      hibernate:
#        dialect: org.hibernate.dialect.PostgreSQLDialect
#    show-sql: true
#    hibernate:
#      ddl-auto: update

logging:
    level:
      com.ocbc.project.im.router: INFO

      
